{% extends "layout.html" %}

{% block title %}Education{% endblock %}

{% block page_content %}



<!-- page head wave 页头波浪 -->
<div class="wave-section-head">
    <div class="wave-head" style="width: 150vw;"></div>
    <div class="wave-head" style="width: 200vw; opacity: 0.5; z-index: 25; top: 5vh;"></div>
    <div class="wave-head" style="width: 300vw; opacity: 0.2; z-index: 30; top: 10vh" ></div>
    <!-- 此处修改page head图片 -->
    <img src="https://static.igem.wiki/teams/5371/human-practice/education/education.svg" class='head-img'>
</div>

<!-- 文档内容 -->
<div class="main">
    <div class="menubg">
        <div data-scroll-watcher=""></div>
        <div id="menu" class="">
            <div id="scrollbar1">

                <div id="bar" style="clip-path: inset(0px 0px 100% 0);">
                    <img src="https://static.igem.wiki/teams/5371/menu/curveagain.svg" alt="Scrollbar Bar" />
                </div>

                <div id="overlay">
                    <img src="https://static.igem.wiki/teams/5371/menu/curveagaingrey.svg" alt="Scrollbar Bar" />
                </div>

            </div>

            <div class="scroll-circle" id="scroll-circle" style="top: 400px; opacity: 1;">
                <img src="https://static.igem.wiki/teams/5371/menu/yeast-nobg.svg" alt="YEAST" />
            </div>

            <div class="menucontent">
                <div class="t1" tid="0">Introduction</div>
                <div class="t1" tid="1">Schools</div>
                <div class="h2-sec">
                    <div class="t2" tid="1-0">&bull;&emsp;Primary school</div>
                    <div class="t2" tid="1-1">&bull;&emsp;Middle school</div>
                    <div class="t2" tid="1-2">&bull;&emsp;Senior high school</div>
                    <div class="t2" tid="1-3">&bull;&emsp;College</div>
                </div>
                <div class="t1" tid="2">Public</div>
                <div class="h2-sec">
                    <div class="t2" tid="2-0">&bull;&emsp;Social media</div>
                    <div class="t2" tid="2-1">&bull;&emsp;Synthetic biology and applications</div>
                    <div class="t2" tid="2-2">&bull;&emsp;A scientific video</div>
                </div>
                <div class="t1" tid="3">Conclusion</div>
            </div>
        </div>
    </div>
    <div id="content">
            <div class="s1">
                <div class="h1-wrap">
                    <h1 id="0">Introduction</h1>
                </div>
                <p>As technology continues to advance, synthetic biology is emerging as a vital tool for addressing modern societal challenges. However, public understanding of this cutting-edge field remains limited, especially in regions with fewer educational resources. To bridge this gap, our teams organized a series of educational activities focused on synthetic biology and skincare, aiming to introduce students and the general public to this innovative science. Through engaging lectures, hands-on experiments, and interactive discussions tailored for different educational stages—ranging from primary school to university—these activities simplified complex synthetic biology concepts and demonstrated their practical applications. This initiative not only provided students with foundational biological knowledge but also expanded their horizons regarding the future possibilities of biotechnology, highlighting the role of education in fostering innovation and societal progress.
                </p>
            </div>

            <div class="s1">
                <div class="h1-wrap">
                    <h1 id="1">Schools</h1>
                </div>
                <h2 id="1-0">&bull;&emsp;Primary school</h2>
                <div class="s2">
                    <p>To enhance public awareness of synthetic biology and broaden the horizons of students, our team embarked on a series of engaging activities centered on this cutting-edge field at Mengshi Primary School. On the morning of July 19th, a vibrant program tailored for fourth-grade students unfolded, encompassing science lectures, introductory biological experiments, and questionnaire surveys. 
                    </p>
                <h3>Science Lectures</h3>
                <div class="s2">
                    <p>Our members captivated the young minds with a series of lively games, introducing them to the fundamentals of synthetic biology and the diverse functions of cells. Students eagerly participated by drawing cards, each assigning them the role of a plant, animal, or bacterial cell, immersing themselves in the fascinating world of cellular synthesis through a first-person narrative. </p>
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/1.png">
                        </div>
                    </div>
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/2.png">
                        </div>
                    </div>
                    <p>To make synthetic biology more relatable for these young learners, we began by unraveling the basics of cells—their definitions and classifications. Subsequently, we illuminated the concepts of engineered bacteria and synthetic biology through captivating illustrations and engaging metaphors. A brief overview of our projects showcased how synthetic biology is applied to address real-life challenges, igniting their curiosity and imagination. 
                    </p>
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/3.png">
                        </div>
                    </div>
                </div>
                <h3>Biological Experiments</h3>
                <div class="s2">
                    <p>In the subsequent session, we escorted the students into the microscopic realm, visiting the laboratory. Equipped with the knowledge of microscope operation, they marveled at the intricate structure of onion cells, sharing their observations and insights with each other. </p>
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/4.png">
                        </div>
                    </div>
                </div>
                <h3>Questionnaire Survey</h3>
                <div class="s2"></div>
                    <p>Beyond fostering an interest in synthetic biology, our activities also served as a platform to emphasize the importance of skincare. In our efforts to bridge the gap between synthetic biology and everyday life, we engaged with the children through simple, relatable examples that brought the concepts to life. We introduced them to the idea that synthetic biology is not just a complex scientific field, but a creative and innovative approach that can be applied to develop solutions for common problems, such as skincare. </p>
                    <div style="display: flex;flex-direction: row; width: 100%;">
                        <div class="img-wrap" style="width: 50%; ">
                            <div class="border">
                                <img src="https://static.igem.wiki/teams/5371/human-practice/education/5-1.jpg">
                            </div>
                        </div>
                        <div class="img-wrap" style="width: 50%;">
                            <div class="border">
                                <img src="https://static.igem.wiki/teams/5371/human-practice/education/5-2.jpg">
                            </div>
                        </div>
                    </div>
                    <p>Recognizing the harsh environmental conditions in mountainous regions, including intense UV radiation at high altitudes, we highlighted the risks of irreversible damage to the skin barrier. We distributed questionnaires focused on skincare products, revealing a surprising lack of awareness among pre-adolescent students. However, given their age, this finding was not unexpected. By promoting skincare awareness, we aimed to empower these children to protect their delicate skin and maintain its health. 
                    </p>
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/fig7.png">
                        </div>
                        <div class="disc">Figure1. Pie chart of the survey result on skin types of students at Mengshi Primary School</div>
                    </div>
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/fig8.png">
                        </div>
                        <div class="disc">Figure 2. Percentage Stacked Bar Chart of the Result from a Skin Care Knowledge Questionnaire Survey.</div>
                    </div>
                    <p>In conclusion, our endeavors not only illuminated the wonders of synthetic biology to rural children but also underscored the significance of skincare in safeguarding their wellbeing, amidst the challenging natural environment they inhabit. 
                    </p>
                </div>

                <h2 id="1-1">&bull;&emsp;Middle school</h2>
                <h3>Haining Junior High School</h3>
                <div class="s2">
                    <p>We conducted a science activity about synthetic biology for students from Haining Junior High School. The teacher first guided the students to complete the experiment of banana DNA extraction. If the students succeeded in extracting the DNA, they could put the DNA into a glass jar and take it home as a souvenir. This was the first time the students got n touch with genetic material, which is significant for synthetic biology.</p>
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/7-2.jpg">
                        </div>
                    </div>
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/fig10.jpg">
                        </div>
                    </div>
                    <p>Afterward, we conducted a lively popular science class for the students, taking the role of DNA extraction as the introduction topic, explaining the concept of synthetic biology vividly by using LEGO puzzles as analogies and showing the students existing examples of synthetic biology, such as the production of artemisinin, artificial nitrogen fixation, etc. 
                    </p>
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/8.jpeg">
                        </div>
                    </div>
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/picpic0.jpg">
                        </div>
                    </div>
                    <p>In addition, we introduced the iGEM competition and encouraged students to build a solid foundation in biology to participate in this competition in the future and explore the vast field of synthetic biology. We also exhibited our current projects to the students to stimulate their interest in synthetic biology.
                    </p>
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/10.jpg">
                        </div>
                    </div>
                </div>
                <h3>Wenzhou Cangnan Juxi Social Practice Team</h3>
                <div class="s2">
                    <p>To make synthetic biology accessible to a wider audience, we cooperated with the Wenzhou Cangnan Juxi Social Practice Team from Zhejiang University and carried out a series of activities about synthetic biology.</p>
                    <p>To make synthetic biology more accessible for primary school and middle school students, we take a step-by-step approach to gradually introduce students to synthetic biology.</p>
                    <p>Firstly, we taught a range of background knowledge that students need to know in order to understand synthetic biology.  
                        Since synthetic biology involves content at the molecular and cellular level, we begin with an introduction to what a cell is, explaining in detail the function and structure of the nucleus, organelles, and cell membrane. Among these, the cell membrane is an important medium for the exchange of information between cells and a bridge for cellular interactions in synthetic biology. To help students have a deeper insight into the cell membrane structure, we taught students to build a flow mosaic tessellation model of cell membrane using soft soil and wooden sticks, where students enjoyed themselves and benefited a lot. 
                    </p>
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/picpic2.jpg">
                        </div>
                    </div> 
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/picpic3.jpg">
                        </div>
                    </div>
                    <p>In addition, the endoplasmic reticulum-Golgi apparatus-membrane axis in cells is indispensable for the biosynthesis of proteins and vital for synthetic biology. We therefore explain the operation of this axis in detail in our cell-related courses. 
                    </p>
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/fig17.jpg">
                        </div>
                    </div>
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/fig18.jpg">
                        </div>
                    </div>
                    <p>Bacteria and fungi are common operands in synthetic biology, yet in many people's minds, bacteria and fungi are always associated with bad terms such as disease, decay, and poisoning. In order to break this inherent perception, we taught in detail the structure and common types of bacteria and fungi, and gave examples of the applications of bacteria and fungi in human life, such as the making of fermented products in the food industry, the production of antibiotics in the medical industry, and biofertilizers in agriculture... The students also made steamed buns to experience the magic of microorganisms! 
                    </p>
                    <p>Further, we went down to the molecular level and taught about the function and structure of macromolecules such as sugars, proteins, and nucleic acids. Among these things, when teaching about nucleic acids, we introduced the relationship between genes and nucleic acids and discussed in depth the relationship between genes and biological character. The students were enthralled.
                    </p>
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/fig19.jpg">
                        </div>
                    </div>
                    <p>Finally, we systematically talk about what synthetic biology is. Questions were posed and students were asked to imagine: "If you had the power right now to design and modify organisms to get whatever you wanted, what would you do?" Students used their wild imaginations to speak up.  
                    </p>
                    <p>Next, to make the children have a deeper insight into synthetic biology, we played a short film created by the iGEM team from Beijing Normal University in 2023, and then we introduced our iGEM team. We introduced to the children that we are the representative team of Zhejiang University International Campus to participate in the IGEM competition and we hope to use synthetic biology to create a cosmetic product that can be compared to SK-II facial treatment essence by using synthetic biology technology to obtain myrcene glycol, ceramides, and yeast extracts from yeast. The children were deeply touched. 
                    </p>
                    <p>Through this teaching activity, we not only let children grasp a lot of biology-related knowledge, but also opened the door to a new world of biological frontiers for them - synthetic biology, and both the teachers and the children benefited greatly! 
                    </p>
                </div>
                <h2 id="1-2">&bull;&emsp;Senior high school</h2>
                <div class="s2">
                    <p>In order to make synthetic biology more accessible to the public and let more students gain an insight into this magic topic, we cooperated with the “Zhaojue” Volunteering Teaching Team of Zhejiang University, which came to the Zhaojue County, Sichuan Province, China to carry on teaching activity and help students in the mountains access to better educational resources. To enrich the content of courses and broaden the horizon of students, we held a lecture about synthetic biology for the students of senior 1 and 2 in Zhaojue on June 25th. 
                    </p>
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/15.jpg">
                        </div>
                    </div>
                    <p>Starting with the question “What do you think synthetic biology is”, our lecture first listed some products of synthetic biology in our daily lives. Students’ responses showed that most of them were unfamiliar with the topic at the beginning. With the lecture getting deeper, students became more and more interested and active. Around 90% of students expressed their desire to have a more in-depth look at the topic after the lecture. Beside of the basic synthetic biological knowledge, we also introduced the iGEM competition and our project to them to encourage them to participate in this competition in the future with interest. We hope that through this lecture, they can get a better understanding of synthetic biology and find the charm of synthetic biology. 
                    </p>
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/16.jpg">
                        </div>
                    </div>
                </div>
                <h2 id="1-3">&bull;&emsp;College</h2>
                <div class="s2">
                    <p>Our team leader Chen, Wang shared his thoughts on synthetic biology at the ZJE Freshman Sharing Session, ranging from the origins of synthetic biology to current synthetic biology, and from his own interest to participation in competitions such as iGEM. iGEM is an international event that gives students from all over the world interested in synthetic biology an opportunity to freely explore the world of synthetic biology and work as a team to develop a project. It also provides a platform for competitors to communicate and learn from each other. Wang's sharing allowed the first-year students to get a deeper insight into the synthetic biology and the biological fascination behind it. At the same time, his introduction of iGEM also gave first-year students a certain understanding of the iGEM competition and encouraged them to actively participate in iGEM in the future. 
                    </p>
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/17.png">
                        </div>
                    </div>
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/18.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="s1">
                <div class="h1-wrap">
                    <h1 id="2">Public</h1>
                </div>
                <h2 id="2-0">&bull;&emsp;Social media</h2>
                <div class="s2">
                    <p>Through our team's presence on Xiaohongshu,a popular social app in China, we successfully shared information about our project, team, and synthetic biology with a diverse audience, covering various age groups and regions. The engagement we received, including numerous views and thoughtful feedback, highlights the effectiveness of our educational approach. In addition to Xiaohongshu, we also promoted content about China's Beauty Town and a biology photography exhibition on WeChat. Furthermore, we extended our outreach through Instagram, where we shared related content to further promote our team and engage an international audience, broadening public awareness of synthetic biology and its applications.
                    </p>
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/19.jpg">
                        </div>
                    </div>
                    <p>By promoting our skincare project on Xiaohongshu, we successfully attracted a large number of users interested in skincare and beauty. As a lifestyle and beauty-focused social platform, Xiaohongshu allowed us to showcase our product development process, scientific concepts, and usage results through images and short videos. The active engagement and feedback from users not only increased our brand visibility but also strengthened public trust and interest in our products. This community-driven promotion model effectively enhanced the awareness of our project.
                    </p>
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/picpic4.jpg">
                        </div>
                    </div>
                    <p>Instagram is a global social media platform where users can interact and share content through images and videos. Our iZJU-China iGEM team has utilized Instagram to post content related to synthetic biology, including project summaries, educational information, and team introductions. Through this platform, we have successfully showcased our research progress and educational activities to a global audience, expanding our international influence. Additionally, the multimedia format of Instagram has made our scientific outreach more engaging and interactive.
                    </p>
                    <div style="display: flex;flex-direction: row; width: 100%;">
                        <div class="img-wrap" style="width: 50%; ">
                            <div class="border">
                                <img src="https://static.igem.wiki/teams/5371/human-practice/education/picpic5.png">
                            </div>
                        </div>
                        <div class="img-wrap" style="width: 50%;">
                            <div class="border">
                                <img src="https://static.igem.wiki/teams/5371/human-practice/education/picpic6.png">
                            </div>
                        </div>
                    </div>
                    <p>Our team established an official WeChat account to share relevant information and promote our activities. Through this platform, we publish content not only about our project updates but also about collaborations with biotech companies, such as our recent exchange with Guanchen Biotech. These posts, featuring both text and visuals, provide insights into our research processes and interactions, helping the public gain a deeper understanding of the applications and potential of synthetic biology. By leveraging WeChat, we have expanded our audience reach and increased our team's visibility and influence in the fields of science communication and biotechnology.
                    </p>
                </div>
                <h2 id="2-1">&bull;&emsp;Synthetic biology and applications</h2>
                <div class="s2">
                    <p>Several teams collaboratively organized an online educational event with the theme "Synthetic Biology and Its Applications," aiming to educate the public about the fundamentals of synthetic biology and its real-world applications. The event was broadcast live through WeChat Channels, attracting a wide audience of 3,782 participants. Each participating team prepared a 5–10-minute presentation, primarily covering their technical approach, experimental design, and relevant applications, showcasing the practical operations and applications of synthetic biology.
                    </p>
                    <p>The event began with a foundational introduction to synthetic biology by the organizers, providing detailed insights into its development history and theoretical framework. Following that, each team presented their projects, using clear language and visuals to demonstrate how synthetic biology is applied across various fields such as medicine, environmental protection, and agriculture. The audience gained a deeper understanding of synthetic biology and showed great interest in the practical applications presented by each team. By combining engaging scientific education with real-world project showcases, the event successfully bridged the gap between professional technology and the general public, achieving a positive educational impact.
                    </p>
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/23.jpg">
                        </div>
                    </div>
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/24.jpg">
                        </div>
                    </div>
                    <div style="display: flex;flex-direction: row; width: 100%;">
                        <div class="img-wrap" style="width: 50%; ">
                            <div class="border">
                                <img src="https://static.igem.wiki/teams/5371/human-practice/education/picpic7.jpg">
                            </div>
                        </div>
                        <div class="img-wrap" style="width: 50%;">
                            <div class="border">
                                <img src="https://static.igem.wiki/teams/5371/human-practice/education/picpic8c.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="img-wrap">
                        <div class="border">
                            <img src="https://static.igem.wiki/teams/5371/human-practice/education/picpic1.jpg">
                        </div>
                        <div class="disc"> Figure. Live Streaming Data of the online educational event.</div>
                    </div>
                </div>
                <h2 id="2-2">&bull;&emsp;A scientific video</h2>
                <div class="s2">
                    <p>In the course of human practice, we found that the majority of the public blindly follows products labelled as “naturally derived”. Faced with skin care products with similar ingredients and functions, people tend to choose ‘naturally derived’ products rather than “biosynthesized” products. They believe that “natural is the best”, and “biosynthesized” products are unnatural and unhealthy as the ingredients of those products are artificially made. But in fact, most people do not know the underlying mechanism of how the two types of products are produced, and do not understand what biosynthesis is. Actually, the substances which play a major role in the “biosynthesized” and “naturally derived” skincare products may be the same. It is just the source of the ingredients that makes the biggest difference.
                    </p>
                    <p>In order to raise people's awareness and interest in this topic, we produced an animated video that provides the public with a detailed overview of the production process and differences between “naturally derived” and “biosynthesized” skincare products. We hope that this video will help people realize the advantages of biosynthetic cosmetics and not blindly trust products labeled as “naturally derived”. 
                    </p>
                    <div style="display: flex;flex-direction: row; width: 100%;">
                        <div class="img-wrap" style="width: 50%; ">
                            <div class="border">
                                <img src="https://static.igem.wiki/teams/5371/human-practice/education/27.png">
                            </div>
                        </div>
                        <div class="img-wrap" style="width: 50%;">
                            <div class="border">
                                <img src="https://static.igem.wiki/teams/5371/human-practice/education/28.png">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
                
            <div class="s1">
                <div class="h1-wrap">
                    <h1 id="3">Conclusion</h1>
                </div>
                <p>The series of synthetic biology educational activities successfully inspired curiosity and a passion for science among students across different educational levels. From primary school to university, the activities effectively connected abstract biological concepts with real-world applications, sparking interest in synthetic biology and its potential to solve global challenges. These programs not only educated students about the broad applications of synthetic biology in fields like medicine, agriculture, and environmental protection but also encouraged them to think critically about how science can be used to address real-world problems. Ultimately, these educational efforts laid a solid foundation for increasing public awareness and fostering future innovation in the field of synthetic biology.
                </p>
            </div>
            
    </div>  
</div>

{% endblock %}