{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}





<link href="{{ url_for('static', filename = 'home.css')}}" rel="stylesheet">


<script src="{{ url_for('static', filename = 'jquery-3.4.1.min.js')}}"></script>





<div id="title"><img src="https://static.igem.wiki/teams/5371/description-pictures/homepage/title-image.svg" style="width:100vw;height: 130vh; left: 0;position: absolute;top: -10vh;"  alt="" id="titleImage"></div>
<div class="content" style="margin-top: 0vh;overflow: hidden;">
        <!-- <img src="https://static.igem.wiki/teams/5371/homepage/seesaw-stop.png" style="width: 35vw;height:30vh;left: 30vw;position: absolute;top:110vh;" id="seesaw" class="seesaw"> -->
        <h2 style="font-size: 120px;color: gray;position: absolute;top: 120vh;left: 5vw;"id="subtitle1"class="appear">Skin Problem</h2>
        <div style="color: white;font-size: 25px;padding-left: 15vw;padding-right: 15vw;text-align: center;position: absolute;top: 145vh;"class="appear"id="text1">The skin serves as the window for individuals to present themselves to the outside world. However, modern lifestyles such as consuming oily food, inadequate sleep, and mental stress, have exacerbated skin problems. These have led to the emergence of sensitive skin even skin diseases.</div>


      <img src="https://static.igem.wiki/teams/5371/homepage/environmental-polllution-body.svg" style="width: 70vw;position: absolute;right: 15vw;top: 160vh;" id="fig1-1"class="appear">
      <img src="https://static.igem.wiki/teams/5371/homepage/environmental-polllution-1.svg" style="width: 60vw;position: absolute;right: 22vw;top: 158vh;"id="fig1-2"class="appear">
      <img src="https://static.igem.wiki/teams/5371/homepage/environmental-polllution-2.svg" style="width: 60vw;position: absolute;right: 24vw;top: 162vh;"id="fig1-3"class="appear">
      <img src="https://static.igem.wiki/teams/5371/homepage/environmental-pollution-3.svg" style="width: 60vw;position: absolute;right: 26vw;top: 166vh;"id="fig1-4"class="appear">
      <img src="https://static.igem.wiki/teams/5371/homepage/environmental-polllution-4.svg" style="width: 60vw;position: absolute;right: 13vw;top: 160vh;"id="fig1-5"class="appear">
      <img src="https://static.igem.wiki/teams/5371/homepage/envir5.png" style="height: 25vh;width: 20vw;position: absolute;right: 15vw;top: 196vh;"id="fig1-6"class="appear">





        <div style="color: white;font-size: 25px;padding-left: 25vw;padding-right: 15vw;text-align: center;position: absolute;top: 245vh;"class="appear"id="text2">Overall, <span style="font-size: 60px;" id="num">60</span> % of people report having some degree of sensitive skin. </div>


        


      <div class="fig2box" style="position: absolute;top: 255vh;height: 80vh;width: 100vw;">
        <img src="https://static.igem.wiki/teams/5371/homepage/fig2-1.svg" alt="" style="height: 75vh;position: absolute;right: 15vw;top: 7vh" id="fig2-1" class="appear">
        <img src="https://static.igem.wiki/teams/5371/homepage/fig2-2.svg" alt="" style="height: 70vh;position: absolute;right: 20vw;top: 14vh" id="fig2-2" class="appear">
        <img src="https://static.igem.wiki/teams/5371/homepage/fig2-3.svg" alt="" style="height: 70vh;position: absolute;right: 22vw;top: 10vh" id="fig2-3" class="appear">
        <img src="https://static.igem.wiki/teams/5371/homepage/fig2-4.svg" alt="" style="height: 70vh;position: absolute;right: 15vw;top: 15vh" id="fig2-4" class="appear">
        <img src="https://static.igem.wiki/teams/5371/homepage/fig2-5.svg" alt="" style="height: 70vh;position: absolute;right: 17vw;top: 15vh" id="fig2-5" class="appear">

      </div>


        <h2 style="font-size: 120px;color: gray;position: absolute;top: 335vh;left: 5vw;"class="appear"id="subtitle2">Cosmetics Issues</h2>

        <div style="color: white;font-size: 25px;padding-left: 15vw;padding-right: 15vw;text-align: center;position: absolute;top: 360vh;"class="appear"id="text3">Existing  products with superior repair effects tend to be expensive. On the other hand, cheaper options often underperform or contain a high amount of preservatives.</div>
       
        <img src="https://static.igem.wiki/teams/5371/homepage/pivpic.png" alt="" style="height: 70vh;position: absolute;right: 24vw;top: 370vh;"class="appear"id="fig3">
       
        <h2 style="font-size: 120px;color: gray;position: absolute;top: 450vh;left: 5vw;"class="appear"id="subtitle3">Our Products</h2>
       
        <div style="color: white;font-size: 25px;padding-left: 15vw;padding-right: 15vw;text-align: center;position: absolute;top: 475vh;"class="appear"id="text4">This year, iZJU-China also focuses on this issue, trying to create a new skincare essence with higher quality and lower price through genetic engineering strategies. Here comes the product “Yeastea”!</div>
       



         <div style="position: absolute;top: 470vh;height: 80vh;width: 100vw;" class="fig4box">







          <div id="fig4-1">
            <img src="https://static.igem.wiki/teams/5371/homepage/chan2.svg" style="max-width:80%;margin-left: 10vw;margin-top: 20vh;left:10%;top:10%">
            </div>

            <div id="fig4-2">

              </div>  
              <div id="fig4-3">

               </div>



          </div>  



         <h2 style="font-size: 120px;color: gray;position: absolute;top: 565vh;left: 5vw;"class="appear"id="subtitle4">“Oscillator”</h2>




        <div class="fig5box" style="position: absolute;height: 80vh;width: 100vw;top: 580vh;">













          <div class="appear" id="fig5-1">
            <img src="https://static.igem.wiki/teams/5371/homepage/liu2.svg" style="width:80%;margin-left:10%">
          </div>
          <div class="appear" id="fig5-2">
          </div>
          <div class="appear" id="fig5-3">
          </div>
          <div class="appear" id="fig5-4"> 
          </div>

</div>

        
        
        <div style="color: white;font-size: 25px;padding-left: 15vw;padding-right: 15vw;text-align: center;position: absolute;top: 665vh;"class="appear"id="text5">Yeastea's core part is the “oscillator”. “Oscillator” is an oscillating system leverages a genetic oscillator in yeast. The oscillator not only helps our experimental yeasts to live longer and produce more ingredients, but also helps to avoid toxicity of the ingredients.</div>





        <h2 style="font-size: 120px;color: gray;position: absolute;top: 695vh;left: 5vw;"class="appear"id="subtitle5">More Details</h2>





<!-- 
        <img src="https://static.igem.wiki/teams/5371/homepage/yeast.png" alt="" class="appear" id="yeast0">    
        <img src="https://static.igem.wiki/teams/5371/homepage/yeast.png" alt="" class="appear" id="yeast1">
        <img src="https://static.igem.wiki/teams/5371/homepage/yeast.png" alt="" class="appear" id="yeast2">
        <img src="https://static.igem.wiki/teams/5371/homepage/yeast.png" alt="" class="appear" id="yeast3">
        <img src="https://static.igem.wiki/teams/5371/homepage/yeast.png" alt="" class="appear" id="yeast4">
        <img src="https://static.igem.wiki/teams/5371/homepage/yeast.png" alt="" class="appear" id="yeast5">
        <img src="https://static.igem.wiki/teams/5371/homepage/yeast.png" alt="" class="appear" id="yeast6">
        <img src="https://static.igem.wiki/teams/5371/homepage/yeast.png" alt="" class="appear" id="yeast7">
        <img src="https://static.igem.wiki/teams/5371/homepage/yeast.png" alt="" class="appear" id="yeast8">
        <img src="https://static.igem.wiki/teams/5371/homepage/yeast.png" alt="" class="appear" id="yeast9">
        <img src="https://static.igem.wiki/teams/5371/homepage/yeast.png" alt="" class="appear" id="yeast10">
        <img src="https://static.igem.wiki/teams/5371/homepage/yeast.png" alt="" class="appear" id="yeast11">
        <img src="https://static.igem.wiki/teams/5371/homepage/yeast.png" alt="" class="appear" id="yeast12">
        <img src="https://static.igem.wiki/teams/5371/homepage/yeast.png" alt="" class="appear" id="yeast13">
        <img src="https://static.igem.wiki/teams/5371/homepage/yeast.png" alt="" class="appear" id="yeast14">
        <img src="https://static.igem.wiki/teams/5371/homepage/yeast.png" alt="" class="appear" id="yeast15">
        <img src="https://static.igem.wiki/teams/5371/homepage/yeast.png" alt="" class="appear" id="yeast16">
        <img src="https://static.igem.wiki/teams/5371/homepage/yeast.png" alt="" class="appear" id="yeast17">
        <img src="https://static.igem.wiki/teams/5371/homepage/yeast.png" alt="" class="appear" id="yeast18">
        <img src="https://static.igem.wiki/teams/5371/homepage/yeast.png" alt="" class="appear" id="yeast19">
        <img src="https://static.igem.wiki/teams/5371/homepage/yeast.png" alt="" class="appear" id="yeast20"> -->

        <div class="FloatContainer">
          <a href="{{ url_for('pages', page = 'measurement')}}"><img src="https://static.igem.wiki/teams/5371/homepage/attribution-10.svg" class="float1" style="position: absolute;height: 30vh;width: 30vw;top: 33vh;left: 0vw;" id="bubble1"></a>
          <a href="{{ url_for('pages', page = 'results')}}"><img src="https://static.igem.wiki/teams/5371/homepage/attribution-5.svg" class="float2" style="position: absolute;height: 30vh;width: 30vw;top: 23vh;left: 18vw" alt="" id="bubble2"></a>
          <a href="{{ url_for('pages', page = 'hardware')}}"><img src="https://static.igem.wiki/teams/5371/homepage/attribution-7.svg" class="float1" style="position: absolute;height: 30vh;width: 30vw;top: 26.5vh;left: 36vw;" alt="" id="bubble3"></a>
          <a href="{{ url_for('pages', page = 'entrepreneurship')}}"> <img src="https://static.igem.wiki/teams/5371/homepage/attribution-8.svg" class="float2" style="position: absolute;height: 30vh;width: 30vw;top: 15.7vh;left: 54vw" alt="" id="bubble4"></a>
          <a href="{{ url_for('pages', page = 'human-practices')}}"> <img src="https://static.igem.wiki/teams/5371/homepage/attribution-9.svg" class="float1" style="position: absolute;height: 30vh;width: 30vw;top: 27vh;left: 72vw;" alt="" id="bubble5"></a>
            
            

<!-- 
          <h2 style="font-size: 120px;color: gray;position: absolute;top: 675vh;left: 5vw;">Promotion Video</h2>

        <video controls="controls" id="video"  style="left: 20vw;top: 710vh;position: absolute;" poster="https://static.igem.wiki/teams/5371/homepage/video-cover.png">
          <source src="./promotion video.mp4" type="video/mp4"></source>
        </video>    -->

    </div>

</div>

<script src="{{ url_for('static', filename = 'home.js')}}"></script>




{% endblock %}