{% extends "layout.html" %}

{% block title %}Implementation{% endblock %}

{% block page_content %}



<!-- page head wave 页头波浪 -->
<div class="wave-section-head">
    <div class="wave-head" style="width: 150vw;"></div>
    <div class="wave-head" style="width: 200vw; opacity: 0.5; z-index: 25; top: 5vh;"></div>
    <div class="wave-head" style="width: 300vw; opacity: 0.2; z-index: 30; top: 10vh" ></div>
    <!-- 此处修改page head图片 -->
    <img src="https://static.igem.wiki/teams/5371/project/implementation/implementation.svg" class='head-img'>
</div>

<!-- 文档内容 -->
<div class="main">
    <div class="menubg">
        <div data-scroll-watcher=""></div>
        <div id="menu" class="">
            <div id="scrollbar1">

                <div id="bar" style="clip-path: inset(0px 0px 100% 0);">
                    <img src="https://static.igem.wiki/teams/5371/menu/curveagain.svg" alt="Scrollbar Bar" />
                </div>

                <div id="overlay">
                    <img src="https://static.igem.wiki/teams/5371/menu/curveagaingrey.svg" alt="Scrollbar Bar" />
                </div>

            </div>

            <div class="scroll-circle" id="scroll-circle" style="top: 400px; opacity: 1;">
                <img src="https://static.igem.wiki/teams/5371/menu/yeast-nobg.svg" alt="YEAST" />
            </div>


            <div class="menucontent">
                <div class="t1" tid="0">Background</div>
                <div class="t1" tid="1">Products</div>
                <div class="t1" tid="2">Target Audience</div>
                <div class="t1" tid="3">Fundraising</div>
                <div class="t1" tid="4">Future Plans </div>
                <div class="h2-sec">
                    <div class="t2" tid="4-0">&bull;&emsp;Business registration</div>
                    <div class="t2" tid="4-1">&bull;&emsp;Technical development</div>
                </div>
                <div class="t1" tid="5">Conclusion</div>
            </div>
        </div>
    </div>
    <div id="content">
            <div class="s1">
                <div class="h1-wrap">
                    <h1 id="0">Background</h1>
                </div>
                <p>In today’s fast-paced world, people are increasingly affected by lifestyle-related skin issues. Factors like insufficient sleep and high stress contribute to an imbalance in the skin barrier, leading to various skin concerns.
                </p>
                <p>Among the diverse range of skincare products, those containing yeast extracts have become highly sought-after. However, this demand has driven up prices significantly. For example, yeast extract-based products often range from USD 150 to USD 1000 per 150ml, making them inaccessible to many consumers.
                </p>
                <p>Recognizing this unmet need, we set out to develop high-quality, affordable skincare products that cater to a broader audience.
                </p>
            </div>

            <div class="s1">
                <div class="h1-wrap">
                    <h1 id="1">Products</h1>
                </div>
                <p>Our goal is to create skincare products that cater to both the public and those with sensitive skin, particularly targeting young to middle-aged individuals. The benefits of our product include soothing the skin, reducing inflammation, and strengthening the skin barrier.
                </p>
                <div class="img-wrap">
                    <div class="border" style="width: 45%;">
                        <img src="https://static.igem.wiki/teams/5371/project/implementation/pic1.svg">
                    </div>
                </div>
                <p>To achieve this, we combined two highly effective ingredients—ceramide and bisabolol—with yeast lysis extract to create our product line, <strong>Yeastea</strong>.
                </p>
            </div>
                    
            <div class="s1">
                <div class="h1-wrap">
                    <h1 id="2">Target Audience</h1>
                </div>
                <p>Our products are designed to address common skin concerns while being suitable for sensitive skin. According to the Asian Consumer Trends Report 2024, individuals aged 20 to 40 account for over 70% of total cosmetic market expenditure, highlighting their purchasing power and strong interest in skincare [1]. Based on this data, our business model targets the To-C (direct-to-consumer) market, with a focus on this demographic.
                </p>
                <p>We have identified three key consumer segments:</p>
                <p>1.	<strong>Career Women</strong>: This group often deals with high work pressure and irregular schedules, leading to skin issues. They need effective skincare solutions that fit into their busy lives.</p>
                <p>2.	<strong>Young Mothers</strong>: With their family responsibilities, young mothers require simple, time-efficient, and affordable skincare products.
                </p>
                <p>3.	<strong>Health-Conscious Consumers</strong>: As more people adopt healthier lifestyles, there is a growing demand for skincare products that are safe for sensitive skin and promote overall well-being.
                </p>
                <div class="img-wrap">
                    <div class="border">
                        <img src="https://static.igem.wiki/teams/5371/project/implementation/pic2.svg">
                    </div>
                </div>
            </div>

            <div class="s1">
                <div class="h1-wrap">
                    <h1 id="3">Fundraising</h1>
                </div>
                <p>To ensure the success of our venture, we conducted an EBIT (earning before interest and tax) analysis, which allows us to evaluate the operational efficiency and profitability of our company. Over the first five years, we expect an EBIT of USD 3,516,497, indicating that while our products are affordable for consumers, they will still maintain a healthy profit margin.
                </p>
                <p>Despite this potential for profit, we require funding to cover the initial costs of development and production, especially during the first three years, when we won’t generate profits. Our cost analysis estimates a five-year production cost of USD 483,503, with profitability projected to begin in the third year. We estimate needing an initial investment of USD 270,000 for product development, production, and safety testing.
                </p>
                <p>For the first three years, we anticipate a total funding requirement of USD 430,000, allocated as follows:</p>
                <p>1.	<strong>Product development and production</strong>: USD 270,000</p>
                <p>2.	<strong>Safety testing and experimental investments</strong>: USD 160,000</p>
                <p>To meet these capital needs, we aim to raise USD 450,000 through the following channels:</p>
                <p>1.	School support: USD 30,000</p>
                <p>2.	Participation in Juanhu Tech City and Juanhu Venture Fund roadshows: USD 40,000</p>
                <p>3.	Zhejiang University Zijingang Campus Entrepreneurial Meta-space Project: USD 3,000</p>
                <p>4.	Engagement with venture capitalists and equity swaps through 36kr's projects and roadshows: USD 300,000</p>
                <p>5.	Collaboration with Guanchen Biotech: Expected funding of USD 45,000 to 50,000</p>
                </p>
                <p>These efforts will help us secure the necessary funds for product development and launch.</p>
            </div>

            <div class="s1">
                <div class="h1-wrap">
                    <h1 id="4">Future Plans</h1>
                </div>
                <p>Our future roadmap focuses on two main areas: business registration and technical development.
                </p>
                <h2 id="4-0">&bull;&emsp;Business registration</h2>
                <div class="s2">
                    <p>This involves registering our company, securing patents, and executing our commercialization strategy. These steps will formalize our corporate structure, protect our intellectual property, and prepare us for market entry.</p>
                </div>
                <h2 id="4-1">&bull;&emsp;Technical development</h2>
                <div class="s2">
                    <p>On the technical side, we plan to develop an oscillator yeast strain, conduct safety tests in accordance with Chinese law, particularly the Technical Specification for Cosmetic Safety, and refine our yeast extract based on these evaluations.</p>
                </div>
                <div class="img-wrap">
                    <div class="border">
                        <img src="https://static.igem.wiki/teams/5371/project/implementation/pic3.svg">
                    </div>
                </div>
            </div>
                        

            <div class="s1">
                <div class="h1-wrap">
                    <h1 id="5">Conclusion</h1>
                </div>
                <p>The overall process will proceed through the stages of technical development, safety and efficacy testing, business setup, and product commercialization. We have outlined detailed plans for both business registration and technical development to ensure a smooth transition from product development to market readiness.
                </p>
            </div>

            <div class="s1">
                <div class="h1-wrap">
                    <h1 id="6">Reference</h1>
                </div>
                <p style="text-align: left;">1.	Consumer Trends 2024: Opportunities in Asia Pacific [Internet]. Available from: https://www.innovamarketinsights.com/reports/consumer-trends-2024-opportunities-in-asia-pacific/
                </p>
            </div>
                        

    </div>
</div>

{% endblock %}